# Node
node_modules/

# Editor configs
.DS_Store
*.swp
*.swo
*.log
*.tmp
.idea/
.vscode/
*.code-workspace

# Output folders
dist/
build/
client/dist/

# Husky
.husky/_

# Lint-staged cache
client/.eslintcache